@CHARSET "UTF-8";

.analyticspanel {
/* 	width: 400px; */
/* 	border: solid 1px; */
}

.APheader h4 {
	text-align: center;
}

.APheader > .small {
	text-align: left !important;
	margin-left: 5%;
}

.APheader .slider {
	margin-top: 25px;
	width: 80%;
	left: 10%;
}

.slider-selection {
	background: #BABABA;
}

.APbody {
}

.APbody h4 {
	text-align: center;
}

.APbody > .small {
	text-align: left !important;
	margin-left: 5%;
}

.APbody h5{
	text-align: center;
}

.APbody svg {
	width: 100%;
	height: 40px;
}

.APbody text {
	font: 11px serif;
	pointer-events: none;
}

#middletext {
	font: 13px serif;
}

.APbody line {
	stroke:	black;
	stroke-width: 2;
}

.imgcenter {
	display: block;
    margin-left: auto;
    margin-right: auto;
}