@CHARSET "UTF-8";

/********************************************************************
********************* HISTOGRAM - COMMON PARTS **********************
********************************************************************/
.ippanel {
/* 	border-style: solid; */
/* 	border-width: 1px; */
/* 	border-color: black; */
}

.ippanel rect {
	stroke: black;
	stroke-width: 0.5;
}

/********************************************************************
**************************** HISTOGRAM X ****************************
********************************************************************/

.iphorizontal {
/* 	width: 500px; */
}

.roomH {
	position: relative;
	height: 100%;
	
	display: block;
	
	margin-top: 5px;
	margin-bottom: 5px;
}

.descriptionH {
	position: relative;
	width: 20%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.barchartH {
	position: relative;
/* 	width: 79%; */
	display: inline-block;
	vertical-align: middle;
	margin-left: 1%;
}

.barchartH div {
	padding: 3px;
}

.barchartH text {
	fill: black;
	font: 10px sans-serif;
	
	pointer-events: none;
}

/********************************************************************
************************** HISTOGRAM Y ******************************
********************************************************************/

.ipvertical {
	height: 200px;
	width: 700px;
	
	display: inline-flex;
}

.ipvertical div {
	display: inline-block;
}

.roomV {
	position: relative;
	height: 100%;

	min-width: 155px;
	
	margin-top: 7px;
	margin-right: 5px;
	margin-left: 5px;	
}

.descriptionV {
	position: relative;
	
	height: 20%;
	width: 100%;
	
	top: 80%;
	left: 0%;
	
	text-align: center;
	line-height: 2em;
	
	pointer-events: none;
}

.barchartV {
	position: absolute;
	height: 80%;
 	width: 100%;
	top: 0%;
	left: 0%;

}

.barchartV text {
	font: 10px sans-serif;
	text-anchor: middle;
	
	pointer-events: none;
}

.axissvgV {
	position: relative;
	height: 80%;
	
	margin-left: 5px;
	margin-top: 2px;
	
	pointer-events: none;
}

.axissvgV svg {
	width: 40px;
	height: 105%;
}

.axisV text {
  font: 10px sans-serif;
  text-anchor: end;
}

.axisV path,
.axisV line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
