@CHARSET "UTF-8";

.selected {
	opacity: 0.4;	
}

.deselected {
	opacity: 1;
}

.onselection {
	opacity: 0.3;
}

text[id^="arcLabel"] {
	pointer-events: none;
}

.arcLabelNormal {
	font-size: 14px;
	font-family:Arial Narrow,Arial,sans-serif;
}

.arcLabelSmall {
	font: 9px sans-serif;
}

.visible {
	display: inherit;
}

.notVisible {
	display: none;
}