@CHARSET "UTF-8";

/*******************************************************
/*************** SelectionLegendPanel ******************
*******************************************************/
.legendpanel th, input {
	text-align: center !important;
}

.selection_marker {
	-moz-border-radius: 20px/20px;
    -webkit-border-radius: 20px 20px;
    
    border-radius: 20px/20px;
    border:solid 1px #000; 
    
    width:20px;
    height:20px;
}

.tdcenter {
	display: inline-block;
    vertical-align: middle;
}

/*******************************************************
/****************** SelectionMarker*********************
*******************************************************/
.selectionMarker {
	fill: none;
	stroke-width: 5px;
}

/*******************************************************
/****************** SelectionLabel *********************
*******************************************************/
.selectionLabel {
	position: absolute;
	width: 100px;
	height: 16px;
	z-index: 1;
	background-color: #ffff80;
	
	border-style: solid;
	border-width: 0.5px;
	border-color: black;
	border-radius: 2px;
	
	line-height: 1;
		
	font-size: 12px;
}

.selectionLabel div {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}

.selectionLabel button {
	line-height: 0.45 !important;
}