#timesliderdiv {
/* 	position:fixed; */
/* 	bottom:40px; */
/* 	left:170px; */
}

#separationsliderdiv {
/* 	position:fixed; */
/* 	top:80px; */
/* 	right:170px; */
}

#timeline {
/* 	position: fixed; */
/* 	top:100px; */
/* 	right:200px;	 */
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#mapNodeLinkDiagramDiv {
/* 	float: left; */
}


.titleBar {
/* 	position: fixed; */
	width: 100%;
	top: 0px;
	left: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.titleBar p {
	background: #555;
	font-size:23px;
	font-weight:bold;
	color: #fff;
	padding:10px;
	padding-left: 30px;
}

.divider {
	border-right: 1px gray solid;
}

.microSelected {
	fill: RGB(255,204,0) !important;
}