@CHARSET "UTF-8";

.ddtooltip {
	position: absolute;
	width: 160px;
	
	z-index: 10;
	background-color: white;
	opacity: 0.85;
	
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 4px;
	
	pointer-events: none;
	
	font-size: 12px;
	text-align: center;
	
	padding: 4px;
}

.ddtooltip p {
	text-align: left !important;
	margin-bottom: 0px !important;
}
